@media(max-width:768px){
    .grid__item.grid-product:nth-child(1) {
        width: 50% !important;
        max-width: auto !important;
        margin: auto !important;
    }
    
    .grid__item.grid-product:nth-child(4) {
        width: 50% !important;
        max-width: auto !important;
        margin: auto !important;
    }
    
    .grid__item.grid-product:nth-child(7) {
        width: 50% !important;
        max-width: auto !important;
        margin: auto !important;
    }
    
    .grid__item.grid-product:nth-child(10) {
        width: 50% !important;
        max-width: auto !important;
        margin: auto !important;
    }
    
    .grid__item.grid-product:nth-child(13) {
        width: 50% !important;
        max-width: auto !important;
        margin: auto !important;
    }
    
    .grid__item.grid-product:nth-child(16) {
        width: 50% !important;
        max-width: auto !important;
        margin: auto !important;
    }
    
    .grid__item.grid-product:nth-child(19) {
        width: 50% !important;
        max-width: auto !important;
        margin: auto !important;
    }
    
    .grid__item.grid-product:nth-child(22) {
        width: 50% !important;
        max-width: auto !important;
        margin: auto !important;
    }
    
    .grid__item.grid-product:nth-child(25) {
        width: 50% !important;
        max-width: auto !important;
        margin: auto !important;
    }
    
    .grid__item.grid-product:nth-child(28) {
        width: 50% !important;
        max-width: auto !important;
        margin: auto !important;
    }
    
    .grid__item.grid-product:nth-child(31) {
        width: 50% !important;
        max-width: auto !important;
        margin: auto !important;
    }
    
    .grid__item.grid-product:nth-child(34) {
        width: 50% !important;
        max-width: auto !important;
        margin: auto !important;
    }
    
    .grid__item.grid-product:nth-child(37) {
        width: 50% !important;
        max-width: auto !important;
        margin: auto !important;
    }
    
    .grid__item.grid-product:nth-child(40) {
        width: 50% !important;
        max-width: auto !important;
        margin: auto !important;
    }
    
    .grid__item.grid-product:nth-child(43) {
        width: 50% !important;
        max-width: auto !important;
        margin: auto !important;
    }
    
    .grid__item.grid-product:nth-child(46) {
        width: 50% !important;
        max-width: auto !important;
        margin: auto !important;
    }
    
    .grid__item.grid-product:nth-child(49) {
        width: 50% !important;
        max-width: auto !important;
        margin: auto !important;
    }
    
    .grid__item.grid-product:nth-child(52) {
        width: 50% !important;
        max-width: auto !important;
        margin: auto !important;
    }      
}